# Copy file này thành .env rồi điền giá trị thật (KHÔNG push .env lên GitHub)
MONGO_READ_URI=mongodb+srv://u22IT123_read:MAT_KHAU_READ@cluster0.qckwdng.mongodb.net/DB_22IT123?retryWrites=true&w=majority&appName=Cluster0
MONGO_WRITE_URI=mongodb+srv://u22IT123_write:MAT_KHAU_WRITE@cluster0.qckwdng.mongodb.net/DB_22IT123?retryWrites=true&w=majority&appName=Cluster0
SESSION_SECRET=doi_thanh_chuoi_dai_ngau_nhien
NODE_ENV=development
PORT=3000
